mat-card {
  margin: 0.5em;
  max-width: 600px;
  margin: 16px auto;
}
mat-form-field {
  width: 100%;
}
img {
  width: 100%;
}
.boxing
{
  display: grid;
  grid-template-columns: auto auto auto;
  padding:2.5px;
}
main{
  background-color: antiquewhite;
  margin: 2.5px;
  padding: 2px;
}
